<div class="gamer-profile-container">
  <div class="gamer-card">
      <div class="gamer-card-body">
          <div class="row">
              <div class="col-md-4">
                  <img [src]="urlImage" alt="imagen" class="profile-image rounded-circle">
              </div>
              <div class="col-md-8">
                  <h2>Thiago Mejias</h2>
                  <p><strong>Edad:</strong> 20</p>
              </div>
          </div>
          <div class="row mt-4">
                  <div class="col">
                  <h3>Sobre mi</h3>
                  <p>Soy desarrollador junior .net y estudiante de tencicatura en programación en UTN Avellaneda </p>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col">
                  <h3>Mi juego: Adivina el numero</h3>
                  <p> 
                      El juego consiste en adivinar el numero, para ellos tendras dos opciones de juego.
                      Modo facil: Deberas adivinar el numero mientras se te dice si el numero es mas grande o mas pequeño.
                      Modo Dificil: Deberas adivinar el numero mientras se te dice si estas mas caliente o mas frio. Mientras  
                      Puntuacion: Mientras mas rapido adivines mas puntos sumaras, ademas el modo dificil te dara el doble de puntos que el facil
                  </p>
              </div>

          </div>
      </div>
  </div>
</div>
