<div class="gamer-profile-container">
  <div class="gamer-card">
      <div class="gamer-card-body">
          <div class="row">
              <div class="col-md-4">
                  <img [src]="" alt="imagen" class="profile-image rounded-circle">
              </div>
              <div class="col-md-8">
                  <h2>Thiago Mejias</h2>
                  <p><strong>Edad:</strong> 20</p>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col">
                  <h3>Sobre mi</h3>
                  <p>Soy desarrollador junior .net y estudiante de tencicatura en programación en UTN Avellaneda </p>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col">
                  <h3>Mi juego: juego</h3>
                  <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum unde, </p>
              </div>
          </div>
      </div>
  </div>
</div>
